.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 50px;
  margin: 0 auto;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  gap: 200px;
  margin: 0 auto;
}
@media screen and (max-width: 928px) {
  .App, .container {
    padding: 0 10px;
    width: 100%;
  }
  .container{
    gap: 10px;
  }

}
  
h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ccc;
}
.form {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 padding: 10px 0;

}
.form input {
  color: #ccc;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
}
.form label {
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
}